body {
font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
padding: 0 1em;
}

h1 {
font-variant: small-caps;
font-size: 4.0em;
line-height: 0.75em;
margin: 0 0 0.75em 0;
}

h2 {font-size: 2.0em;
}

ul {
list-style: none;
margin-left: -1em;
font-size: 1.5em;
}

li {line-height: 1.3em;
}

a {
color: #000;
}

a:hover {
text-decoration: none;
}
