:root {
  --clr-mode: 'light';
  --clr-dark: #29272a;
  --clr-dark-alpha: rgba(0, 0, 0, 0.1);
  --clr-light: #efefef;
  --clr-light-alpha: rgba(255, 255, 255, 0.9);
  --icon-sun: url('data:image/svg+xml,\
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\
    <path d="M12.027,0.015c6.603,0.015 11.958,5.38 11.958,11.985c-0,6.605 -5.355,11.97 -11.958,11.985l0,-23.97Zm-2,0.162l0,23.646c-0.686,-0.114 -1.353,-0.286 -1.995,-0.512l0,-22.622c0.642,-0.226 1.309,-0.398 1.995,-0.512Zm-3.995,1.429l0,20.788c-0.715,-0.412 -1.384,-0.896 -1.997,-1.442l-0,-17.904c0.612,-0.546 1.281,-1.03 1.997,-1.442Zm-3.997,3.737l-0,13.314c-1.276,-1.904 -2.02,-4.194 -2.02,-6.657c0,-2.463 0.744,-4.753 2.02,-6.657Z"></path>\
  </svg>');

  --icon-sun-filter: invert(0.61) sepia(0.8) saturate(5) hue-rotate(0deg) brightness(0.92);

  --icon-moon: url('data:image/svg+xml,\
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">\
    <path d="M12.027,0.015c6.603,0.015 11.958,5.38 11.958,11.985c-0,6.605 -5.355,11.97 -11.958,11.985l0,-23.97Zm-2,0.162l0,23.646c-0.686,-0.114 -1.353,-0.286 -1.995,-0.512l0,-22.622c0.642,-0.226 1.309,-0.398 1.995,-0.512Zm-3.995,1.429l0,20.788c-0.715,-0.412 -1.384,-0.896 -1.997,-1.442l-0,-17.904c0.612,-0.546 1.281,-1.03 1.997,-1.442Zm-3.997,3.737l-0,13.314c-1.276,-1.904 -2.02,-4.194 -2.02,-6.657c0,-2.463 0.744,-4.753 2.02,-6.657Z"></path>\
  </svg>');
  --icon-moon-filter: invert(0.27);
  --btn-icon: var(--icon-moon);
  --btn-icon-filter: var(--icon-moon-filter);
  --btn-bkgd: var(--clr-dark);
  --btn-clr: #444;
  --border-clr: var(--clr-dark-alpha);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
  --clr-site-bkgd: var(--clr-dark);
  --clr-main-bkgd: #000;
  --clr-dots: #000;
  --dot-bkgd-pos: 16px;
  --dot-bkgd-size: 32px;
  --clr-h2-span: #ae8fdb;
  --clr-underline: #ae8fdb;
  --btn-icon: var(--icon-sun);
  --clr-btn-label-hvr: #a185d6;
  --clr-lvha: #d8c5fd;
  --clr-logo: #a185d6;
  --clr-logo-lvha: #ae8fdb;
  --clr-text: var(--clr-light);
  --clr-dcap-bkgd: #2e2142;
  --clr-underline-lvha: #ae8fdb;
  --work-static-opacity: rgba(0,0,0, .4);
  --clr-work-hvr-bkgd: rgba(38, 30, 102, .90);
  --clr-work-fig-text: var(--clr-light);
  --clr-work-fig-text-hvr: var(--clr-light);
  --clr-text-hr: #4c3a69;
  --clr-hr: #ae8fdb;
  --clr-icon: #a185d6;
  --clr-picto: #15103c;
  --clr-pagination-label: #d8c5fd;
  --clr-pagination-bkgd: #323232;
  --clr-pagination-bkgd-hover: #4c3a69;
  --clr-strip-1: #4c3a69;
  --clr-strip-2: var(--clr-dark);
  --clr-plate-bkgd: #3a3753;
  --clr-plate-fact: #9a95c6;
  --btn-icon-filter: var(--icon-sun-filter);
  --btn-bkgd: var(--clr-light-alpha);
  --btn-clr: var(--clr-light);
  --border-clr: var(--clr-light-alpha);
  --clr-blockquote-bkgd: #3a3753;
  --clr-img-edge: #d6c3fb;
  --filter-img-brightness: brightness(.8);
  }
}

[data-user-color-scheme="dark"] {
  --clr-site-bkgd: var(--clr-dark);
  --clr-main-bkgd: #000;
  --clr-dots: #000;
  --dot-bkgd-pos: 16px;
  --dot-bkgd-size: 32px;
  --clr-h2-span: #ae8fdb;
  --clr-underline: #ae8fdb;
  --btn-icon: var(--icon-sun);
  --clr-btn-label-hvr: #a185d6;
  --clr-lvha: #d8c5fd;
  --clr-logo: #a185d6;
  --clr-logo-lvha: #ae8fdb;
  --clr-text: var(--clr-light);
  --clr-dcap-bkgd: #2e2142;
  --clr-underline-lvha: #ae8fdb;
  --work-static-opacity: rgba(0,0,0, .4);
  --clr-work-hvr-bkgd: rgba(38, 30, 102, .90);
  --clr-work-fig-text: var(--clr-light);
  --clr-work-fig-text-hvr: var(--clr-light);
  --clr-text-hr: #4c3a69;
  --clr-hr: #ae8fdb;
  --clr-icon: #a185d6;
  --clr-picto: #15103c;
  --clr-pagination-label: #d8c5fd;
  --clr-pagination-bkgd: #323232;
  --clr-pagination-bkgd-hover: #4c3a69;
  --clr-strip-1: #4c3a69;
  --clr-strip-2: var(--clr-dark);
  --clr-plate-bkgd: #3a3753;
  --clr-plate-fact: #9a95c6;
  --btn-icon-filter: var(--icon-sun-filter);
  --btn-bkgd: var(--clr-light-alpha);
  --btn-clr: var(--clr-light);
  --border-clr: var(--clr-light-alpha);
  --clr-blockquote-bkgd: #3a3753;
  --clr-img-edge: #d6c3fb;
  --filter-img-brightness: brightness(.8);
}

/* No JS, no toggle component */
.no-js .user-toggle {
  display: none;
}

.user-toggle {
  text-align: center;
}

.toggle-button {
  display: inline-flex;
  background: var(--btn-bkgd);
  background: transparent;
  color: var(--btn-clr);
  border: none;
  font: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.toggle-button__icon {
  background: var(--btn-icon);
  width: 1.2em;
  height: 1.2em;
  margin: 0 0 0 0;
  filter: var(--btn-icon-filter);
  transform: translateY(3px); /* Optical adjustment */
  transition: filter 500ms ease-in-out;
  background-repeat: no-repeat;
}

.toggle-button:focus {}

/* Presentational styles */
.visually-hidden {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}
